.homeLink {
  list-style-type: none;
  background-color: rgb(175, 0, 0);
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 32px;
  height: 300px;
  width: 300px;
  text-align: center;
  line-height: 300px;
}

.homeLink:hover {
  background-color: rgb(226, 2, 2);
}